[submodule "Libraries/SparkFun"]
	path = Libraries/SparkFun
	url = https://github.com/sparkfun/SparkFun-Eagle-Libraries.git
[submodule "Libraries/AdaFruit"]
	path = Libraries/AdaFruit
	url = https://github.com/adafruit/Adafruit-Eagle-Library.git
