[submodule "SparkFun Library"]
  path = Libraries/SparkFun
  url = https://github.com/sparkfun/SparkFun-Eagle-Libraries.git
  update = rebase

[submodule "AdaFruit Library"]
  path = Libraries/AdaFruit
  url = https://github.com/adafruit/Adafruit-Eagle-Library.git
  update = rebase

